<%= render partial: 'layouts/mainnav' %>
<div class="banner" >
  <div class="banner-content banner-title">
    <h1 class="titleh1">Discover my world</h1>
  </div>
  <div class="banner-botton">
    <%= link_to 'Start', pages_show_path, class: "btn waves-effect waves-yellow deep-orange darken-1 btn-large" %>
  </div>
  <%= video_tag "banner-video.mp4", autoplay: :autoplay, loop: :loop, id:"bgvid", class: "responsive-video", style: "height:100%; object-fit: cover;", type: "video/mp4" %>
</div>
