.btn-large{
  margin-top: 15px;
  margin-left: 15px;
}
img.background{
  width: 100%;
  height: auto;
  background-size: cover !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.side-nav .userView .name {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.23em;
}
li h6.mainquote{
  color: #424242;
  font-family: 'Lalezar', cursive;
}
li p.introabout{
  margin: 0em;
  padding: 5px;
  font-size: 90%;
  line-height: 2em;
}
