<div class="fixed-action-btn horizontal" style="bottom: 45px; righ: 24px;">
  <b><u>Send a message</u></b>
  <a class="btn-floating btn-large blue modal-trigger" href="#modal1">
    <i class="large material-icons">mode_edit</i>
  </a>
</div>
