<div class="wrapper">
    <hr>
    <p class="center">In Jesus Christ I trust&nbsp;© <%= Time.now.year %>&nbsp;All rights reserved.&nbsp;<i class="fa fa-heart" aria-hidden="true"></i> by&nbsp;<strong><a href="http://lrjbrual.com">RyanJeff</a></strong></p>
</div>
