<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <%= image_tag("banner-nav.jpg", class:"background")  %>
      <%= image_tag("rjay.jpg", class:"circle")  %>
      <span class="white-text name">Ryan Jeff Brual, MBA</span>
    </div>
  </li>
    <li>
      <h6 class="mainquote">&nbsp;&nbsp;&nbsp;It is not just a coding but it is innovating</h6>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <p class="introabout">
        I am a mentor & professor of Master's degree in Business Administration.
        And Fullstack Ruby on Rails Web Developer with almost 9 Years of Information Technology experience.
        <%= link_to pages_show_path, class: "waves-effect waves-teal btn-flat" do %>
          <i class="material-icons right">send</i>More About Me..
        <% end %>
      </p>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a class="subheader">Menu</a>
    </li>
    <li>
      <%= link_to pages_projects_path, class: "waves-effect waves-teal" do %>
        <i class="small material-icons left">assignment</i>Projects<span class="badge" data-badge-caption="projects">4</span>
      <% end %>
    </li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">mode_edit</i>Articles</a></li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">library_books</i>Learn</a></li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">shop</i>For Sale</a></li>
    <li><div class="divider"></div></li>
</ul>
