<div class="col s12 offset-m2 m10">
  <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">business_center</i>Management
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
        </div>
          <div class="collapsible-body">
            <p>
              <b>9 years of experience</b><br>
              Agile / Project Management<br>
              IT Service Management (ITILV3)<br>
              COBIT 5<br>
              Financial Management
            </p>
            <div class="progress">
              <div class="determinate red" style="width: 90%"></div>
            </div>
          </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">lightbulb_outline</i>Programming Languages
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
        </div>
        <div class="collapsible-body">
          <p>
            <b>8 year experience / 4 years on Projects</b><br>
            Ruby on Rails<br>
            Ruby Sinatra<br>
            PHP<br>
            PostgreSql<br>
            MySql
          </p>
          <div class="progress">
            <div class="determinate" style="width: 70%"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">build</i>IDE/Management Tools
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
        </div>
        <div class="collapsible-body">
          <p>
            <b>8 years of experience</b><br>
            MS Project / MS Excel / MS Visio<br>
            Visual Studio<br>
            Cloud 9<br>
            Atom
          </p>
          <div class="progress">
            <div class="determinate grey" style="width: 90%"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">cloud_circle</i>Network/Server Architecture
          <a class="secondary-content"><i class="material-icons">grade</i></a>
          <a class="secondary-content"><i class="material-icons">grade</i></a>
        </div>
        <div class="collapsible-body">
          <p>
            <b>9 years of Experience</b><br>
            Windows Server / Cisco<br>
            Amazon Web Service (AWS)<br>
            Heroku
          </p>
          <div class="progress">
            <div class="determinate blue" style="width: 50%"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>My Github Repository
        </div>
        <div class="collapsible-body">
          <div class="github-layout container">
            <a href="http://github.com/lrjbrual" class="gh-contributions col-sm-offset-2" data-gh-username="lrjbrual" target="_blank">lrjbrual's contributions</a>
            <script src="http://ikuwow.github.io/yourcontributions/widget.min.js"></script>
          </div>
        </div>
      </li>
  </ul>
</div>
