<nav>
  <div class="nav-wrapper white">
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to 'Main', root_path, class: "btn waves-effect waves-yellow deep-orange darken-1" %>
      </li>
      <li>
        <%= link_to 'Main', pages_projects_path, class: "btn waves-effect waves-yellow grey-text" %>
      </li>
      <li><a class="waves-effect waves-yellow grey-text">Articles</a></li>
      <li><a class="waves-effect waves-yellow grey-text">Learn</a></li>
      <li><a class="waves-effect waves-yellow grey-text">MyProducts</a></li>
    </ul>
  </div>
</nav>
